html, body {
  background-color: #fff;
  font-family: 'Century Schoolbook', sans-serif;
  height: auto;
  margin: 0;
  text-decoration: none;
}

ul {
  list-style-type: none;
}

a {
  text-decoration: none;
  color: black;
}

h1 {
  font-family: 'AR DARLING', sans-serif;
  font-size: 40pt;

  padding-top: 5%;
  padding-bottom: 1%;

  display: flex;
  justify-content: center;
  align-self: center;
}

.h1_bg {
  background: url("../images/background_colour.png") no-repeat;
  width: 100%;
}

h2 {
  font-size: 24pt;
}

h3 {
  font-size: 20pt;
}

.title_bg {
  background: url("../images/background_colour.png");
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.flex-center {
  align-items: center;
  display: flex;
  justify-content: center;
}

.position-ref {
  position: relative;

}

.top-middle {
  position: fixed;
  right: 0;
  top: 0;
  left: 0;
  width: 100%;
  height: 50px;
  background-color: white;
  box-shadow: grey 2px 1px 5px 2px;
  display: flex;
  align-items: center;
}

.logo_header {
  width: 110px;
  height: 110px;
  vertical-align: middle;
  margin-top: 50px;
  background-color: white;
  border-radius: 60px;
  box-shadow: grey 0 7px 7px -4px;
}

.content {
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.links > a {
  color: #636b6f;
  padding: 0 3% 0 3%;
  font-size: 10px;
  font-weight: 600;
  letter-spacing: .2rem;
  text-decoration: none;
  text-transform: uppercase;
  width: 100%;
  display: flex;
}

.links > a:hover {
  color: lightgrey;
}

.delete {
  width: 30px;
  height: 30px;
  background: url("../images/trash_icon.png") no-repeat;
  background-size: cover;
  cursor: pointer;
}

.delete:hover {
  width: 30px;
  height: 30px;
  background: url("../images/open_trash_icon.png") no-repeat;
  background-size: cover;

  cursor: pointer;

}

.report {
  width: 30px;
  height: 30px;
  background: url("../images/report_icon.png") no-repeat;
  background-size: cover;

  cursor: pointer;
}

.report:hover {
  width: 30px;
  height: 30px;
  background: url("../images/open_report_icon.png") no-repeat;
  background-size: cover;

  cursor: pointer;
}

.addworkout {
  width: 30px;
  height: auto;
}

.addworkout:hover {
  cursor: pointer;
}

/* HOME */

.goal_info {
  width: 60%;
  display: flex;
  justify-content: center;

}

.home_section {
  width: 100%;
  height: auto;
  display: flex;
  flex-wrap: wrap;
  padding-bottom: 50px;
}

.home_section_goals > img {
  box-shadow: lightgrey 0 0 20px 0;
  background: rgba(000, 000, 000, 0.1);
  border-radius: 100px;
}

.home_section_goals > img:hover {
  background: rgba(255, 255, 255, 0.6);
}

.goal_bg {
  background: url("../images/welcome/hero_bg.png") fixed;
  background-size: cover;
  height: auto;
  margin-top: -3%;
}

.shape_bg {
  background: url("../images/welcome/shape_bg.png") fixed;
  background-size: cover;
}

.home_section > div {
  display: flex;
  flex-wrap: wrap;
  width: 70%;
  margin: 30px 15% 2% 15%;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.home_section > div > p {
  text-align: justify;
  font-size: 14pt;
  text-shadow: #0b2e13;
}

.home_section_community {
  background: url("../images/info_section_community.png") center fixed;
  background-size: cover;
}

.home_section_community > div {
  margin-right: 50%;
}

.home_section_food {
  background: url("../images/welcome/food_bg.png") center fixed;
  background-size: cover;
}

.home_section_food > div {
  margin-right: 50%
}

.home_section > div > a {
  background: radial-gradient(ellipse at center, rgba(209, 232, 2, 1) 0%, rgba(104, 128, 0, 1) 100%);

  display: flex;
  justify-content: center;
  align-self: center;

  width: 150px;
  padding: 8px;

  box-shadow: black 0 0 10px 0;
  color: black;
  font-family: "AR DARLING", sans-serif;
}

.home_body_shape_img > img {
  background-color: white;
  box-shadow: grey 0 0 10px 0;
  border-radius: 350px;
  justify-content: space-around;
  margin: 20px;
}

.home_body_shape_img > img:hover {
  /* background: rgba(254, 161, 0, 0.9);*/
  box-shadow: #fea100 0 0 10px 0;
}

/* RECIPES */

.superfood_text {
  width: 50%;
  display: flex;
  justify-content: center;
  align-self: center;
}

.recipe_section {
  width: auto;
  height: auto;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  margin-left: 1%;
  margin-right: 1%;
}

.diet_section {

  width: auto;
  height: auto;
  padding: 50px;
}

.diet_section_content {
  display: flex;
  justify-content: center;
  align-items: center;
  border-top: lightgrey solid 1px;
  height: 115px;
  padding: 5px;
}

.diet_section_content > a {
  width: 100px;
  height: 100px;
  display: flex;
  justify-content: center;
  align-self: center;
  border-radius: 100px;
  background-size: cover;
}

.community_pescetarian {
  background: url("../images/community/pescetarian.png") center;
  margin-right: 10px;
}

.community_vegetarian {
  background: url("../images/community/vegetarian.png") center;
  margin-right: 10px;
}

.community_vegan {
  background: url("../images/community/vegan.png") center;
  margin-left: 30px;
}

.community_nospecialdiet {
  background: url("../images/community/nospecialdiet.png") center;
  margin-left: 30px;
}

.box_section {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;

  width: auto;
  height: auto;

  margin-left: 1%;
  margin-right: 1%;

  /*border-bottom: solid lightgrey 1px;*/

}

.box_section > div {
  width: 220px;
  height: 205px;
  border-radius: 2px;
  display: flex;
  justify-content: space-around;
  align-items: center;
  box-shadow: dimgrey 0 0 2px 0;
  margin: 10px;
}

.box_link {
  font-family: "AR DARLING", sans-serif;
  font-size: 20pt;
  color: white;
  text-shadow: 2px 2px 4px #000000;
  width: 98%;
  padding-top: 50%;
  height: 98px;
}

.box_link:hover {
  background: rgba(255, 255, 255, 0.5);
  border-radius: 2px;
  color: black;;
  width: 98%;
  text-shadow: none;
  vertical-align: middle;
}

.box_appetizers {
  background: url("../images/superfood/appetizers.png") center;
  background-size: cover;
}

.box_breakfast {
  background: url("../images/superfood/breakfast.png") center;
  background-size: cover;
}

.box_lunch {
  background: url("../images/superfood/lunch.png") center;
  background-size: cover;
}

.box_snacks {
  background: url("../images/superfood/snacks.png") center;
  background-size: cover;
}

.box_dinner {
  background: url("../images/superfood/dinner.png") center;
  background-size: cover;
}

.box_desserts {
  background: url("../images/superfood/desserts.png") center;
  background-size: cover;
}

.recipe_section_choose {
  width: 15%;
  height: auto;
  padding: 50px;
  border-left: solid 1px lightgrey;
  margin-left: 2%;
}

.recipe_section_filter {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 115px;
  padding: 5px;

}

.recipe_section_ignore_filter {
  display: flex;
  flex-direction: column;
  padding-bottom: 70px;
  padding-top: 40px;
  border-top: lightgrey solid 1px;
}

.recipe_button {
  background: radial-gradient(ellipse at center, rgba(209, 232, 2, 1) 0%, rgba(104, 128, 0, 1) 100%);

  width: 150px;
  padding: 8px;

  box-shadow: black 0 0 10px 0;
  color: black;
  font-weight: bold;
}

/* SUPERFOOD BLOGS */

.superfood_blog_bg {
  background: url("../images/superfood/superfood_bg.png") fixed;
  background-size: cover;
  margin: 0;
  height: auto;
}

.square_box_section {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-self: center;

  width: 70%;
  height: auto;

  margin: 0 15% 0 15%;

  padding-top: 1%;
  padding-bottom: 1%;
}

.square_box_section > div {
  width: 220px;
  height: 205px;
  border-radius: 2px;
  display: flex;
  justify-content: space-around;
  align-items: center;
  box-shadow: dimgrey 0 0 2px 0;
  margin: 10px;
}

.superfood_blog_section {
  margin-top: 2%;
  margin-bottom: 2%;
}

.superfood_box_nuts {
  background: url("../images/superfood/nuts.png") center;
  background-size: cover;
}

.superfood_box_goodcarbsbadcarbs {
  background: url("../images/superfood/goodcarbsbadcarbs.png") center;
  background-size: cover;
}

.superfood_box_thepowerofchia {
  background: url("../images/superfood/thepowerofchia.png") center;
  background-size: cover;
}

.superfood_box_proteinpowder {
  background: url("../images/superfood/proteinpowder.png") center;
  background-size: cover;
}

.superfood_box_superfood {
  background: url("../images/superfood/superfood.png") center;
  background-size: cover;
}

.superfood_box_underthesea {
  background: url("../images/superfood/underthesea.png") center;
  background-size: cover;
}

.superfood_box_whatdoineed {
  background: url("../images/superfood/whatdoineed.png") center;
  background-size: cover;
}

.superfood_box_gowiththeseason {
  background: url("../images/superfood/gowiththeseason.png") center;
  background-size: cover;
}

.superfood_box_vegan {
  background: url("../images/community/vegan.png") center;
  background-size: cover;
}

.superfood_box_vegetarian {
  background: url("../images/community/vegetarian.png") center;
  background-size: cover;
}

.superfood_box_pescetarian {
  background: url("../images/community/pescetarian.png") center;
  background-size: cover;
}

.superfood_box_nospecialdiet {
  background: url("../images/community/nospecialdiet.png") center;
  background-size: cover;
}

/* WORKOUT */
.workout_bg {
  background: url("../images/workout/workout_bg2.png") fixed;
  background-size: cover;
  margin-top: -3%;
  height: auto;
}

.workout_section {
  width: 100%;
  height: auto;
  display: flex;
  flex-wrap: wrap;

}

.workout_section > div {
  display: flex;
  flex-wrap: wrap;
  width: 50%;
  margin: 10px 25% 1% 25%;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.workout_section > div > p {
  text-align: center;
  font-weight: bold;
  font-size: 14pt;
  text-shadow: #0b2e13;
  width: 60%;
  padding: 0 20% 0 20%;
}

.workout_box_section {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  width: 80%;
  margin: 2% 10% 0 10%;
}

.workout_box_section > div {
  width: 280px;
  height: 205px;
  border-radius: 2px;
  display: flex;
  justify-content: space-around;
  align-items: center;
  box-shadow: dimgrey 0 0 2px 0;
  margin: 10px 0 10px 0;
}

.box_indoor {
  background: url("../images/workout/indoor.png") center;
  background-size: cover;
}

.box_outdoor {
  background: url("../images/workout/outdoor.png") center;
  background-size: cover;
}

.box_stretch {
  background: url("../images/workout/stretch.png") center;
  background-size: cover;
}

.box_tenminutes {
  background: url("../images/workout/tenminutes.png") center;
  background-size: cover;
}

.box_partnerworkout {
  background: url("../images/workout/partnerworkout.png") center;
  background-size: cover;
}

.box_yoga {
  background: url("../images/workout/yoga.png") center;
  background-size: cover;
}

.box_workoutwithequipment {
  background: url("../images/workout/workoutwithequipment.png") center;
  background-size: cover;
}

.box_withoutequipment {
  background: url("../images/workout/withoutequipment.png") center;
  background-size: cover;
}

/* WORKOUT ~~ BLOGS */
.workout_blog_bg {
  background: url("../images/workout/workout_bg.png") fixed;
  background-size: cover;
  margin: 0;
  height: auto;
}

.box_whatequipment {
  background: url("../images/workout/whatequipment.png") center;
  background-size: cover;
}

.box_thepowerofbreaks {
  background: url("../images/workout/breakpower.png") center;
  background-size: cover;
}

.box_doyouevenbmi {
  background: url("../images/workout/doyouevenbmi.png") center;
  background-size: cover;
}

.box_beachbodychallenge {
  background: url("../images/workout/beachbodychallenge.png") center;
  background-size: cover;
}

.box_listentoyourself {
  background: url("../images/workout/listentoyourself.png") center;
  background-size: cover;
}

.box_theperfectass {
  background: url("../images/workout/theperfectass.png") center;
  background-size: cover;
}

.box_bodyshapes {
  background: url("../images/workout/bodyshapes.png") center;
  background-size: cover;
}

.box_theabsabc {
  background: url("../images/workout/theabsabc.png") center;
  background-size: cover;
}

/* COMMUNITY */

.community_bg {
  background: url("../images/community/background.png") fixed;
  background-size: cover;
  margin: 0;
  height: auto;
}

.community_section {
  width: 100%;
  height: auto;
  display: flex;
  flex-wrap: wrap;

}

.community_section > div {
  display: flex;
  flex-wrap: wrap;
  width: 50%;
  margin: 0 25% 0 25%;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding-top: 10px;
  padding-bottom: 10px;

}

.community_section > div > p {
  text-align: center;
  font-weight: lighter;
  font-size: 14pt;
  width: 100%;
}

.community_section_2 {
  display: flex;
  justify-content: space-between;
  width: 70%;
  height: auto;
  padding-top: 50px;
  padding-bottom: 50px;
}

.community_text_section {
  width: 35%;
  height: auto;
}

.community_text_section > p {
  padding: 10px;
  text-align: justify;
}

.community_box_section {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  width: 70%;
  margin: 0 10% 0 0;
}

.community_box_section > div {
  width: 280px;
  height: 205px;
  border-radius: 2px;
  display: flex;
  justify-content: space-around;
  align-items: center;
  box-shadow: dimgrey 0 0 2px 0;
  margin: 10px 0 10px 0;
}

.community_box_link {
  font-family: "AR DARLING", sans-serif;
  font-size: 20pt;
  color: white;
  text-shadow: 2px 2px 4px #000000;
  width: 98%;
  padding-top: 50%;
  height: 98px;
}

.community_box_link:hover {
  background: rgba(255, 255, 255, 0.5);
  border-radius: 2px;
  color: black;;
  width: 98%;
  text-shadow: none;
  vertical-align: middle;
}

.community_box_beforeafter {
  background: url("../images/community/beforeafter.png") center;
  background-size: cover;
}

.community_box_workoutbuddies {
  background: url("../images/community/workoutbuddies.png") center;
  background-size: cover;
}

.community_box_diaries {
  background: url("../images/community/diaries.png") center;
  background-size: cover;
}

.community_box_meetups {
  background: url("../images/community/meetups.png") center;
  background-size: cover;
}

/* COMMUNITY ~~ BUDDIES */
.buddy_bg {
  background: url("../images/community/buddy_background.png") fixed;
  background-size: cover;
  width: 100%;
}

.buddy_section {
  display: flex;
  flex-direction: column;
  height: auto;
  padding-top: 50px;
  padding-bottom: 50px;
}

.buddy_section_dietandgoals {
  width: 100%;
  height: auto;
  display: flex;
  flex-direction: column;

}

.buddy_section_dietandgoals > div {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-self: center;
  width: 30%;
  height: auto;
}

.buddy_section_diet_style {
  border-bottom: lightgrey 4px solid;
  width: 65%;
  display: flex;
  justify-content: center;
  align-self: center;
}

.buddy_section_goal_style {
  width: 70%;
  display: flex;
  justify-content: center;
  align-self: center;
}

.buddy_section_same_content {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  border-top: lightgrey solid 1px;
  text-align: justify;
}

.community_pescetarian {
  background: url("../images/community/pescetarian.png") center;
  background-size: cover;
  width: 150px;
  height: 150px;
}

.community_vegetarian {
  background: url("../images/community/vegetarian.png") center;
  background-size: cover;
  width: 150px;
  height: 150px;
}

.community_vegan {
  background: url("../images/community/vegan.png") center;
  background-size: cover;
  width: 150px;
  height: 150px;
}

.community_nospecialdiet {
  background: url("../images/community/nospecialdiet.png") center;
  background-size: cover;
  width: 150px;
  height: 150px;
}

.community_loseweight {
  background: url("../images/community/loseweight.png") center;
  background-size: cover;
  width: 150px;
  height: 150px;
}

.community_buildmuscles {
  background: url("../images/community/buildmuscles.png") center;
  background-size: cover;
  width: 150px;
  height: 150px;
}

.community_becomefit {
  background: url("../images/community/becomefit.png") center;
  background-size: cover;
  width: 150px;
  height: 150px;
}

.community_stayhealthy {
  background: url("../images/community/stayhealthy.png") center;
  background-size: cover;
  width: 150px;
  height: 150px;
}

/* MEETUPS */
.meetups_title {
  display: flex;
  justify-content: space-around;
  width: 100%;
  margin-top: 30px;

}

.meetups_section {
  width: 90%;
  height: auto;
  display: flex;
  flex-wrap: wrap;
  margin-left: 5%;
  margin-right: 5%;
}

.upcomin_meetups {
  width: 65%;
}

.upcoming_meetups_section {

  width: 100%;
  height: auto;

  margin-top: 50px;
  margin-left: 2%;
  margin-bottom: 100px;

  display: flex;
  flex-direction: column;

}

.upcoming_meetups_section > div {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  flex-direction: column;
  align-items: center;
}

.event_info {
  display: flex;
  justify-content: space-between;
  width: 100%;
  border-top: lightgrey 1px solid;
  padding: 5px 0 5px 0;
}

.event_box {
  width: 100%;
  height: auto;
  border: 1px lightgrey solid;
  margin: 5px 0 10px 0;
}

.event_box_details {
  display: flex;
  width: 100%;
  height: auto;
}

.event_box_details > div {
  display: flex;
  flex-direction: column;
  width: 50%;
  text-align: left;
}

.event_what {
  border-left: 1px solid lightgrey;
  padding-left: 20px;
}

.event_details {
  display: flex;
  flex-direction: column;

}

.event_details > div {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-self: center;
  width: 90%;

}

.event_date_and_time_info {

  display: flex;
  flex-direction: column;
  width: 90%;
}

.event_date_and_time_info_1 {
  width: 40%;
  font-weight: bold;
}

.meetup_event_googlemaps {
  display: flex;
  justify-content: center;
  align-self: center;
  margin: 20px;
  max-width: 400px;
  max-height: 250px;
}

.former_event_section {
  width: 20%;
  padding: 50px;
  border-left: solid 1px lightgrey;
  margin-left: 2%;
  font-size: 10pt;

  display: flex;

  flex-direction: column;

}

.former_event_section > p {
  text-align: left;
}

.former_event {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 115px;
  padding: 5px;

}

.former_event_box {
  display: flex;
  flex-direction: column;
  padding-bottom: 70px;
  padding-top: 40px;
  border-top: lightgrey solid 1px;
}

.ticket_button {
  background: radial-gradient(ellipse at center, rgba(209, 232, 2, 1) 0%, rgba(104, 128, 0, 1) 100%);

  width: 150px;
  padding: 8px;

  box-shadow: black 0 0 10px 0;
  color: black;
  font-weight: bold;
}

.sold_out {
  background: radial-gradient(ellipse at center, rgba(220, 64, 9, 1) 0%, rgba(107, 5, 5, 1) 100%);

  width: 150px;
  padding: 8px;

  color: black;
  font-weight: bold;
}

/* REGISTER */

.login_form {
  height: auto;
  padding: 15px;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-self: center;
}

.register_form {
  height: auto;
  padding: 15px;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-self: center;

}

form > input {
  width: 300px;
  height: 30px;
  border-radius: 2%;
  border: 1px solid lightgrey;
  margin: 5px 5px 5px 0;

  display: flex;
  justify-content: center;
  align-self: center;
}

.login_button {
  background: radial-gradient(ellipse at center, rgba(209, 232, 2, 1) 0%, rgba(104, 128, 0, 1) 100%);

  width: 150px;
  padding: 8px;
  margin: 15px;

  color: black;
  font-weight: bold;

  display: flex;
  justify-content: center;
  align-self: center;
}

/* PROFILE */

/* NAVIGATION */

.profile_button {
  background: radial-gradient(ellipse at center, rgba(209, 232, 2, 1) 0%, rgba(104, 128, 0, 1) 100%);

  width: 150px;
  padding: 8px;

  color: black;
  font-weight: bold;
}

.profile_section {
  width: 90%;
  height: auto;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  margin-top: 50px;
}

.profile_section_personal_motivation_quote {
  font-family: "Informal Roman", 'Century Schoolbook', sans-serif;
  font-size: 20pt;
  display: flex;
  justify-content: center;
  align-self: center;
}

.profile_section_2 {
  border-top: 1px solid lightgrey;
  border-bottom: 1px solid lightgrey;
  padding-top: 50px;
  padding-bottom: 50px;
}

.profile_info_section {
  width: 65%;
  height: auto;
}

.profile_navigation {
  width: 10%;
  padding: 50px;
  border: solid 1px lightgrey;
  margin-left: 2%;

  font-size: 10pt;

  display: flex;
  flex-direction: column;

  box-shadow: grey 0 0 4px 0;
}

.profile_navigation > div {
  padding-top: 15px;
  padding-bottom: 15px;
}



.profile_navigation_two > div {
  padding-top: 25px;
  padding-bottom: 25px;
}

.profile_navigation_sections {
  display: flex;
  justify-content: center;
  align-items: center;
  height: auto;
  padding: 5px;

}

.profile_navigation_section > a {
  margin-top: 10px;
  margin-bottom: 10px;
  background-color: #5cb85c;
}

.profile_navigation__section_box {
  display: flex;
  flex-direction: column;

  border-bottom: lightgrey solid 1px;
  border-top: lightgrey solid 1px;
}

.profile_personal_section > img {
  max-width: 100px;
  max-height: 100px;
  padding: 5px;
}

.profile_personal_section > p {
  text-align: center;
}

/* ABOUT YOU */
.profile_section_navigation {
  width: 100%;
  border-top: lightgrey solid 1px;
  margin-top: 2%;
}

/* FIX PROFILE INFO */

.profile_picture {
  max-width: 150px;
  max-height: 300px;
  border-radius: 70px;
  box-shadow: 0 1px 10px 0 grey;
}

.profile_info_section {
  width: 65%;
  height: auto;

  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.profile_info_section_images {

  display: flex;
  justify-content: space-around;
  height: 30%;
  /*box-shadow: 0 0 4px 0 gray;
  border: 1px solid lightgrey;*/
}

.profile_info_section_images > div {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

.profile_section_personal {
  /* box-shadow: 0 0 4px 0 gray;
   border: 1px solid lightgrey;*/
  border-top: 1px solid lightgrey;
  height: 60%;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

.profile_info_section_personal_details {
  display: flex;
  justify-content: space-around;
  margin: 0 20% 0 20%;
  width: 60%;
  text-align: left;
}

.profile_section_myprofile {
  display: flex;
  max-width: 100%;
}

.profile_section_myprofile > div {
  display: flex;
  justify-content: space-around;
}

/* PROFILE PART TWO */
.profile_navigation_two {
  width: 10%;
  height: auto;
  padding: 50px;
  border: solid 1px lightgrey;
  margin-left: 2%;

  font-size: 10pt;

  display: flex;
  flex-direction: column;

  box-shadow: grey 0 0 4px 0;
}

/* PROFILE DIARY */

.profile_diary_section {
  width: 65%;
}

.old_diary_entry {
  padding: 10px;
  border: 1px solid lightgrey;
  max-width: 60%;
  height: auto;
  margin: 4% 20% 4% 20%;

  box-shadow: grey 0 5px 5px 0;

  background: url("../images/diary/diaryentry_BG.png") no-repeat;
  background-size: cover;
}

.profile_old_diary_entry_box {
  max-width: 96%;
  margin: 2%;
}

.old_diary_entry_setting {
  max-width: 100%;
  display: flex;
  justify-content: space-between;
  border-bottom: 1px solid lightgrey;
  margin-top: 2%;
}

.profile_old_diary_entry_box > div > img {
  max-width: 800px;
  max-height: 400px;
}

.old_diary_entry_text {
  text-align: left;
  font-family: "Informal Roman", 'Century Schoolbook', sans-serif;
}

.old_diary_entry_text > p {
  font-size: 18pt;
  font-weight: lighter;
}

.comments_section {
  width: 60%;
  margin: 1% 20% 2% 20%;
  display: flex;
  flex-direction: column;
  text-align: left;
  border-top: solid 2px lightgrey;
  border-bottom: solid 2px lightgrey;
  padding-top: 20px;
  padding-bottom: 20px;
}

.diary_form {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 100%;
}

.form_textarea {
  height: 100px;
}

.comments_section_interaction {
  display: flex;
  justify-content: space-between;
}

.comments_details {
  border: 1px solid lightgrey;
  height: auto;
  padding: 15px;
  margin-top: 20px;
  margin-bottom: 20px;
}

.comments_details_user {
  display: flex;
  justify-content: space-between;
  border-bottom: 1px solid lightgrey;
  padding: 10px;
  align-items: center;
}

.comments_details_edit {
  display: flex;
  justify-content: space-around;
  flex-direction: column;
  padding: 10px;
  text-align: right;
}

.comments_details_profilepicture {
  display: flex;
  justify-content: center;
  align-items: center;
}

.comments_details_profilepicture > span {
  padding-left: 10px;
  font-weight: bold;
}

.comments_details_profilepicture > img {
  width: 80px;
  height: 80px;
  border-radius: 50px;
  box-shadow: lightgrey 0 5px 5px 0;

}

.old_diary_entries {
  margin-top: 2%;
  margin-bottom: 4%;
}

.profile_diary_section_loadolddiaries {
  width: 100%;
  display: flex;
  justify-content: center;

}

.profile_diary_section_loadolddiaries > div {
  display: flex;

  align-items: center;
  width: 100%;
  border-top: lightgrey solid 1px;
  border-bottom: lightgrey solid 1px;
}

.profile_diary_section_loadolddiaries_details:hover {
  cursor: pointer;
}

/* WORKOUT DETAILS */

.workout_entry {
  padding: 10px;
  border: 1px solid lightgrey;
  max-width: 60%;
  height: auto;
  margin: 4% 20% 4% 20%;

  box-shadow: grey 0 5px 5px 0;

}

.workout_entry_setting {
  max-width: 100%;
  display: flex;
  justify-content: space-between;
  border-bottom: 1px solid lightgrey;
  margin-top: 2%;
}

.workout_entry_box {
  max-width: 96%;
  margin: 2%;
}

.workout_entry_box > div > img {
  max-width: 800px;
  max-height: 400px;;
}

.workout_entry_text {
  text-align: left;
}

.workout_entry_text > p {
  font-size: 14pt;
  text-align: justify;
}

.workout_details_profilepicture {
  display: flex;
  justify-content: center;
  align-items: center;
}

.workout_details_profilepicture > span {
  padding-left: 10px;
  font-weight: bold;
}

.workout_details_profilepicture > img {
  width: 100px;
  height: 100px;
  border-radius: 50px;
  box-shadow: lightgrey 0 5px 5px 0;

}

/* CONTACT */

.contact_content {
  width: 100%;
  margin-bottom: 2%;

}

.contact_info {

  margin-top: 1%;
  text-align: center;
  margin-bottom: 50px;
}

/* JOBS */
.jobs_content > p {
  margin-top: 5%;
  margin-bottom: 5%;
  display: flex;
  justify-content: center;
}

/* TERMS AND CONDITIONS */
.termsandconditions {
  text-align: left;
  width: 60%;
  margin: 5% 20% 5% 20%;
}

.termsandconditions > li {
  margin-top: 2%;
}

/* FAQ */
.faq_content {
  width: 100%;

}

.faq {
  margin: 20% 3% 20% 3%;
  width: 60%;
  text-align: left;
}

.faq > li {
  display: flex;
  flex-direction: column;
}

.faq > li > .question{
  font-weight: bold;
  font-size: 16pt;
}

/* ABOUT US */
.aboutus_content {
  width: 80%;
  margin-left: 10%;
  margin-right: 10%;

  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin-bottom: 5%;
  margin-top: 5%;
}

.aboutusteam {
  margin-top: 50px;
  display: flex;
  flex-direction: column;
}

.aboutusteam_profile {
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-wrap: wrap;
  height: auto;
  max-width: 100%;
  border-bottom: 1px lightgrey solid;
  padding-top: 5px;
  padding-bottom: 5px;
}

.aboutusteam_profile > div {
  width: 50%;
  margin-top: 20px;
  margin-bottom: 20px;
}

.aboutusteam_profile > div > p {
  text-align: left;
}

.aboutusteam_profile > img {
  max-width: 300px;
  max-height: 300px;
}

/* BLOG */
.blog_section {
  width: 65%;
}

.blog_entry {
  padding: 100px 10px 10px 10px;
  border: 1px solid lightgrey;
  max-width: 60%;
  height: auto;
  margin: 2% 20% 1% 20%;

  box-shadow: grey 0 5px 5px 0;

  background: url("../images/diary/diaryentry_BG.png") no-repeat;
  background-size: cover;
}

.blog_box {
  max-width: 96%;
  margin: 2%;
}

.blog_box > div > img {
  max-width: 800px;
  max-height: 400px;
}

.blog_text {
  text-align: justify;
  font-family: 'Century Schoolbook', sans-serif;
}

.blog_text > p {
  font-size: 14pt;
  font-weight: lighter;
  margin-top: 40px;
  margin-bottom: 40px;
}

.blog_text > img {
  display: flex;
  justify-content: center;
  align-self: center;
  max-width: 850px;
  height: auto;
}

.blog_author_section {
  display: flex;
  justify-content: center;
  align-self: center;
  height: auto;
}

.blog_abouttheauthor {
  width: 40%;
  box-shadow: 0 1px 5px 0 lightgrey;
  border-radius: 5px;
  height: auto;
  padding: 20px;
  margin: 20px 30% 20px 30%;
  background: url("../images/register/register_bg.png") fixed;
  background-size: cover;
}

.blog_abouttheauthor_content {
  display: flex;
  justify-content: space-around;
}

.blog_abouttheauthor_content > img {
  max-width: 250px;
  height: auto;
  box-shadow: grey 0 1px 5px 0;
}

.blog_abouttheauthor_content_info > div {
  display: flex;
  justify-content: space-between;
  width: 100%;

}

.blog_abouttheauthor_content_bio {
  text-align: justify;
  padding: 20px;
}

.blog_abouttheauthor_content > div {
  width: 300px;
}

/* OVERVIEW */
.overview_content {
  max-width: 60%;
  margin: 2% 20% 2% 20%;

  text-align: justify;
}

/* FOOTER */

footer {
  height: auto;
  width: 100%;
  background-color: white;
  border-top: 1px lightgrey solid;
}

.footer_content_1 {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: center;
  width: 50%;
  margin: 1% 25% 1% 25%;
}

.footer_options {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin: 5px;
}

.footer_options > a {
  color: black;
  font-weight: inherit;
  padding: 3px;
  font-size: 10pt;
}

.footer_options > a:hover {
  text-decoration: underline;
}

.footer_content_2 {
  border-top: lightgrey 1px solid;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 1%;
}

.footer_follow_images {
  display: flex;
}

